<% if current_user %>
  <h1> Welcome <%= current_user.username.capitalize %></h1>
<% end %>


 



    <h1 class="text-3xl lg:text-5xl font-bold text-grey-600">
      Dummy<br/>Project
    </h1>
    <p class="font-bold mb-1">Log in to view your profile.</p>
    <p>Nice aaa ...</p>
  </section>
</main>