<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Pages</h1>
    <%= link_to 'New page', new_page_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="pages" class="min-w-full">
    <% for page in current_user.pages %>
    <%= page.first_name %>
    <%= link_to "Show this page", page, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
